#page-register {
    width: 100vw;
    height: 100vh;
    /*background: linear-gradient(329.54deg, #96D98B 0%, #00C7C7 100%);*/

    display: flex;
    justify-content: center;
    align-items: center;

    background: url("../../images/wallpaperlogin.jpg") no-repeat 80% center;
}

#page-register .content-wrapper {
    position: relative;
    padding-right: 20%;
    width: 100%;
    max-width: 1100px;

    height: 100%;
    max-height: 688px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
#page-register .content-wrapper main {
    max-width: 350px;
}

#page-register .content-wrapper img {
    padding-left: 50%;
}


#page-register .content-wrapper main h1 {
    font-size: 60px;
    font-weight: 988;
    line-height: 60px;
}

#page-register .content-wrapper main p {
    margin-top: 40px;
    font-size: 24px;
    line-height: 24px;
}

#page-register .content-wrapper main img {
    max-width: 30px;
    padding: 2px;
}

#page-register .content-wrapper strong {
    font-weight: 800;
}

.content-wrapper .location {
    position: absolute;
    right: 0;
    top: 0;

    font-size: 24px;
    line-height: 34px;

    display: flex;
    flex-direction: column;

    text-align: right;
}

.content-wrapper .location span{
    color: #011AFA;
}

.content-wrapper .enter-app {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 80px;
    height: 80px;
    background: #ffd666;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.content-wrapper .enter-app:hover {
    background: #96feff;
}

.register-form {
    width: 700px;
    height: 560px;

    background: #FFFFFF;
    border: 1px solid #D3E2E5;
    border-radius: 20px;

    padding: 35px 80px;

    overflow: scroll;
    display: inline-block;
    position: relative;
}


.register-form .leaflet-container {
    margin-bottom: 40px;
    border: 1px solid #d3e2e5;
    border-radius: 20px;
}

.register-form fieldset {
    border: 0;
}

.register-form fieldset + fieldset {
    margin-top: 80px;
}

.register-form fieldset legend {
    width: 100%;

    font-size: 32px;
    line-height: 34px;
    color: #5C8599;
    font-weight: 700;
    text-align: center;

    border-bottom: 1px solid #D3E2E5;
    margin-bottom: 40px;
    padding-bottom: 24px;
}

.register-form .input-block + .input-block {
    margin-top: 24px;
}


.register-form .payment-methods-icons button {
    background-color: white;
    max-width: 100px;
    margin-bottom: 30px;
    margin-left: 25px;
    border-color: transparent;
}


.register-form .payment-methods-icons img{
    max-width: 100px;
    padding: 10px;
}

.register-form .input-block label {
    display: flex;
    color: #8FA7B3;
    margin-bottom: 8px;
    line-height: 24px;
}

.register-form .input-block label span {
    font-size: 14px;
    color: #8FA7B3;
    margin-left: 24px;
    line-height: 24px;
}

.register-form .input-block input,
.register-form .input-block textarea {
    width: 100%;
    background: #F5F8FA;
    border: 1px solid #D3E2E5;
    border-radius: 20px;
    outline: none;
    color: #5C8599;
}

.register-form .input-block input {
    height: 64px;
    padding: 0 16px;
}

.register-form .input-block textarea {
    min-height: 120px;
    max-height: 240px;
    resize: vertical;
    padding: 16px;
    line-height: 28px;
}


.register-form .input-block .new-image .images-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 16px;
}

.register-form .input-block .images-container img {
    width: 100%;
    height: 96px;
    object-fit: cover;
    border-radius: 20px;
}

.register-form .input-block .new-image {
    height: 96px;
    background: #F5F8FA;
    border: 1px dashed #96D2F0;
    border-radius: 20px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form .input-block input[type=file]{
    display: none;
}

.register-form .input-block .button-select {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.register-form .input-block .button-select button {
    height: 64px;
    background: #F5F8FA;
    border: 1px solid #D3E2E5;
    color: #5C8599;
    cursor: pointer;
}

.register-form .input-block .button-select button.active {
    background: #EDFFF6;
    border: 1px solid #A1E9C5;
    color: #37C77F;
}

.register-form .input-block .button-select button:first-child {
    border-radius: 20px 0px 0px 20px;
}

.register-form .input-block .button-select button:last-child {
    border-radius: 0 20px 20px 0;
    border-left: 0;
}

.register-form button.confirm-button {
    margin-top: 64px;

    width: 100%;
    height: 64px;
    border: 0;
    cursor: pointer;
    background: #3CDC8C;
    border-radius: 20px;
    color: #FFFFFF;
    font-weight: 800;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.2s;
}

.register-form button.confirm-button svg {
    margin-right: 16px;
}

.register-form button.confirm-button:hover {
    background: #36CF82;
}

.register-form .buttons-tibiacoin {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.register-form .buttons-tibiacoin input {
    margin-bottom: 50px;
    width: 20%;
    height: 64px;
    background: #fad300;
    box-shadow: 3px 3px 1px #b78800;
    border-radius: 20px;
    font-weight: 800;
    color: #FFFFFF;
    border-color: transparent;
    text-align: center;
}

.register-form .buttons-tibiacoin ::-webkit-input-placeholder {
    color: white;
    font-size: 14px;
    text-align: center;
}

.register-form .buttons-tibiacoin :-moz-placeholder { /* Firefox 18- */
    color: white;
    font-size: 15px;
    text-align: center;
}

.register-form .buttons-tibiacoin ::-moz-placeholder {  /* Firefox 19+ */
    color: white;
    font-size: 15px;
    text-align: center;
}

.register-form .buttons-tibiacoin :-ms-input-placeholder {
    color: white;
    font-size: 15px;
    text-align: center;
}

.register-form .buttons-tibiacoin button.quantity-button {
    margin-bottom: 50px;

    width: 15%;
    height: 64px;
    border: 0;
    cursor: pointer;
    background: #118ab2;
    box-shadow: 3px 3px 1px #9E9E9E;
    border-radius: 20px;
    color: #FFFFFF;
    font-weight: 800;
    text-align: center;

    transition: background-color 0.2s;
}

.register-form .buttons-tibiacoin button.quantity-button:hover {
    background: #073b4c;
}

.register-form .price{
    font-size: 18px;
    color: green;
}

.register-form .titleAndPrice{

}

