#page-create-orphanage {
  display: flex;
}



#page-create-orphanage aside {
  position: fixed;
  height: 100%;
  padding: 32px 24px;
  background: linear-gradient(329.54deg, #15B6D6 0%, #15D6D6 100%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#page-create-orphanage aside img {
  width: 48px;
}

#page-create-orphanage aside footer a,
#page-create-orphanage aside footer button {
  width: 48px;
  height: 48px;

  border: 0;

  background: #12AFCB;
  border-radius: 16px;

  cursor: pointer;

  transition: background-color 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
}

#page-create-orphanage aside footer a:hover,
#page-create-orphanage aside footer button:hover {
  background: #17D6EB;
}

#page-create-orphanage main {
  flex: 1;
}

.create-orphanage-form {
  width: 700px;
  margin: 64px auto;

  background: #FFFFFF;
  border: 1px solid #D3E2E5;
  border-radius: 20px;

  padding: 64px 80px;

  overflow: hidden;
}

.create-orphanage-form .leaflet-container {
  margin-bottom: 40px;
  border: 1px solid #D3E2E5;
  border-radius: 20px;
}

.create-orphanage-form fieldset {
  border: 0;
}

.create-orphanage-form fieldset + fieldset {
  margin-top: 80px;
}

.create-orphanage-form fieldset legend {
  width: 100%;

  font-size: 32px;
  line-height: 34px;
  color: #5C8599;
  font-weight: 700;

  border-bottom: 1px solid #D3E2E5;
  margin-bottom: 40px;
  padding-bottom: 24px;
}

.create-orphanage-form .input-block + .input-block {
  margin-top: 24px;
}

.create-orphanage-form .payment-methods-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-orphanage-form .payment-methods-icons button {
  background-color: white;
  max-width: 100px;
  margin-bottom: 30px;
  margin-left: 25px;
  border-color: transparent;
}


.create-orphanage-form .payment-methods-icons img{
  max-width: 100px;
  padding: 10px;
}

.create-orphanage-form .input-block label {
  display: flex;
  color: #8FA7B3;
  margin-bottom: 8px;
  line-height: 24px;
}

.create-orphanage-form .input-block label span {
  font-size: 14px;
  color: #8FA7B3;
  margin-left: 24px;
  line-height: 24px;
}

.create-orphanage-form .input-block input,
.create-orphanage-form .input-block textarea {
  width: 100%;
  background: #F5F8FA;
  border: 1px solid #D3E2E5;
  border-radius: 20px;
  outline: none;
  color: #5C8599;
}

.create-orphanage-form .input-block input {
  height: 64px;
  padding: 0 16px;
}

.create-orphanage-form .input-block textarea {
  min-height: 120px;
  max-height: 240px;
  resize: vertical;
  padding: 16px;
  line-height: 28px;
}


.create-orphanage-form .input-block .new-image .images-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 16px;
}

.create-orphanage-form .input-block .images-container img {
  width: 100%;
  height: 96px;
  object-fit: cover;
  border-radius: 20px;
}

.create-orphanage-form .input-block .new-image {
  height: 96px;
  background: #F5F8FA;
  border: 1px dashed #96D2F0;
  border-radius: 20px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.create-orphanage-form .input-block input[type=file]{
  display: none;
}

.create-orphanage-form .input-block .button-select {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.create-orphanage-form .input-block .button-select button {
  height: 64px;
  background: #F5F8FA;
  border: 1px solid #D3E2E5;
  color: #5C8599;
  cursor: pointer;
}

.create-orphanage-form .input-block .button-select button.active {
  background: #EDFFF6;
  border: 1px solid #A1E9C5;
  color: #37C77F;
}

.create-orphanage-form .input-block .button-select button:first-child {
  border-radius: 20px 0px 0px 20px;
}

.create-orphanage-form .input-block .button-select button:last-child {
  border-radius: 0 20px 20px 0;
  border-left: 0;
}

.create-orphanage-form button.confirm-button {
  margin-top: 64px;

  width: 100%;
  height: 64px;
  border: 0;
  cursor: pointer;
  background: #3CDC8C;
  border-radius: 20px;
  color: #FFFFFF;
  font-weight: 800;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}

.create-orphanage-form button.confirm-button svg {
  margin-right: 16px;
}

.create-orphanage-form button.confirm-button:hover {
  background: #36CF82;
}

.create-orphanage-form .buttons-tibiacoin {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.create-orphanage-form .buttons-tibiacoin input {
  margin-bottom: 50px;
  width: 20%;
  height: 64px;
  background: #fad300;
  box-shadow: 3px 3px 1px #b78800;
  border-radius: 20px;
  font-weight: 800;
  color: #FFFFFF;
  border-color: transparent;
  text-align: center;
}

.create-orphanage-form .buttons-tibiacoin ::-webkit-input-placeholder {
  color: white;
  font-size: 14px;
  text-align: center;
}

.create-orphanage-form .buttons-tibiacoin :-moz-placeholder { /* Firefox 18- */
  color: white;
  font-size: 15px;
  text-align: center;
}

.create-orphanage-form .buttons-tibiacoin ::-moz-placeholder {  /* Firefox 19+ */
  color: white;
  font-size: 15px;
  text-align: center;
}

.create-orphanage-form .buttons-tibiacoin :-ms-input-placeholder {
  color: white;
  font-size: 15px;
  text-align: center;
}

.create-orphanage-form .buttons-tibiacoin button.quantity-button {
  margin-bottom: 50px;

  width: 15%;
  height: 64px;
  border: 0;
  cursor: pointer;
  background: #118ab2;
  box-shadow: 3px 3px 1px #9E9E9E;
  border-radius: 20px;
  color: #FFFFFF;
  font-weight: 800;
  text-align: center;

  transition: background-color 0.2s;
}

.create-orphanage-form .buttons-tibiacoin button.quantity-button:hover {
  background: #073b4c;
}

.create-orphanage-form .price{
  font-size: 18px;
  color: green;
}

.create-orphanage-form .titleAndPrice{

}
